<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtaj.mtaj_08.cableplus_new">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="com.mtaj.mtaj_08.cableplus_new.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mtaj.mtaj_08.cableplus.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".DashBoard"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CustomerListActivity"
            android:parentActivityName=".DashBoard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".CustomerDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerListActivity" />
        </activity>
        <activity
            android:name=".TransactionStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerSignatureActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerDetails" />
        </activity>
        <activity
            android:name=".Collection_Area_Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity
            android:name=".activity_collection_customerdetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.Collection_Area_Activity" />
        </activity>
        <activity
            android:name=".ComplainDetails"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity
            android:name=".SearchWithCustomerListInComplains"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.AreaListInCustomers" />
        </activity>
        <activity
            android:name=".ComplainListviaCustomerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>
        <activity
            android:name=".AreaListInCustomers"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity
            android:name=".CustomerMasterDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.AreaListInCustomers" />
        </activity>
        <activity
            android:name=".Sms_log"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>
        <activity
            android:name=".Bill_details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>
        <activity
            android:name=".PackageDetails"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>
        <activity
            android:name=".Contact_details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>
        <activity
            android:name=".Payment_details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ScreenReceiver"
            android:enabled="true" />

        <!--
            <service
            android:name=".TrackLocationService"
            android:process=":tracklocation_service" />
        -->

        <service
            android:name=".TestLocationService"
            android:process=":testlocation_service" />

        <!--
        <receiver
            android:name=".MyApplication$ScreenReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        -->

        <protected-broadcast android:name="android.location.GPS_ENABLED_CHANGE" />

        <activity
            android:name=".NoConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCustomer_1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity
            android:name=".AddCustomer_2"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity
            android:name=".AddCustomer_4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity
            android:name=".AddCustomer_3"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity
            android:name=".Remider_details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>
        <activity
            android:name=".Attachment_details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.CustomerMasterDetailsActivity" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtaj.mtaj_08.cableplus_new.DashBoard" />
        </activity>
        <activity android:name=".FullImageActivity" />

        <!--
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />

        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.mtaj_08.cableplus_new" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GcmMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        -->

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Comments_List_Activity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity android:name=".ReminderListActivity" />
        <activity android:name=".AlertListActivity" />
        <activity android:name=".SyncData" />
        <activity
            android:name=".CustomerDetail_Offline"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <receiver
            android:name=".NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ComplainSignatureActivity" />
        <activity android:name=".Map_User_Tracking" />
        <activity android:name=".CustomerCommentList" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>